.App {
  text-align: center;
  /* background-color: black; */
}
nav {
  background-color: black;
}

nav ul {
  display: flex;
  justify-content: center;
  background-color: black;
}

li {
  list-style-type: none;
  padding: 0 1em;
  cursor: pointer;
  color: white;
}
